* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-image: url("../images/background.svg");
    background-size: cover;
    background-color: whitesmoke;
}

nav {
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    float: top;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px -12px;
}

nav .logo {
    margin-left: 30px;
}

nav .items-center, nav .items-left {
    display: flex;
    gap: 20px;
}

nav .items-center .jobs-dropdown {
    position: absolute;
    top: 50px;
    left: 297px;
    width: 578px;
    height: 44px;
    list-style: none;
    background-color: #282828;
    color: #938C8C;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 64px;
    gap: 64px;
}

nav .items-center .jobs-dropdown .companies-li {
    font-size: 16px;
    text-decoration-line: underline;
    color: #FF8500;
}

nav .items-center .jobs-dropdown-polygon {
    position: absolute;
    top: 37px;
    left: 404px;
    border-radius: 1px;
}

nav .items-center .jobs-dropdown, nav .items-center .jobs-dropdown-polygon {
    display: none;
}

nav .items-left {
    margin-right: 20px;
}

nav .items-center a, nav .items-left a {
    text-decoration: none;
    font-size: 16px;
    color: #938C8C;
}

nav .items-left .lang span {
    margin-right: 2px;
    margin-left: 1px;
    color: #FF8500;
}

nav .items-left .lang a {
    color: #938C8C;
}

nav .items-left .lang #en {
    color: #FF8500;
}

nav .items-left a {
    color: black;
}

nav .items-left .login {
    font-weight: bold;
}

.companies {
    text-align: center;
    width: 1150px;
    padding: 20px;
    margin: 20px auto;
}

.companies:first-of-type {
    margin: 110px auto auto;
}

.companies header h1 {
    margin: 10px auto auto;
    font-weight: 800;
}

.companies .body {
    display: flex;
    align-items: center;
}

.companies .body .carousel-left,
.companies .body .carousel-right {
    margin: 20px;
    cursor: pointer;
}

.companies .body .carousel {
    display: inline-flex;
    justify-content: center;
    margin: 32px 20px 20px;
    gap: 75px;
}

.companies .body .carousel label {
    display: block;
}

.footer-container {
    background-color: black;
    padding: 32px;
    color: white;
    bottom: 0;
    width: 100%;
}

.footer-container .footer {
    display: flex;
    justify-content: space-between;
    padding-right: 120px;
    padding-left: 120px;
    align-items: center;
}

.footer-container .footer a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.footer-container .footer li, .footer-container .footer li a {
    font-size: 14px;
    list-style: none;
    margin-top: 10px;
    font-weight: normal;
}

.footer-container .band-info {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 32px;
}

.footer-container .band-info div {
    display: inline;
}

.footer-container .band-info hr {
    width: 730px;
    display: inline-block;
}